body {
  background-color: #f3f3f3;
}

.sidebar {
  top: 0;
  left: 0;
  position: fixed;
  border-right: 2px solid #e5e7e8;
  width: 350px;
  height: 100vh;
  padding: 30px;
  background-color: #f8f8f8;
}

.nav-item {
  padding: 10px;
  padding-left: 30px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.gray {
  color: #6a6a6a;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #1389ff !important;
}

main {
  margin-left: 350px;
  width: calc(100vw - 350px) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.visualizer {
  background-color: white;
  height: 700px;
  margin: 50px;
  border: 2px solid #e5e7e8;
  border-radius: 5px;
}
