body {
  background-color: #f3f3f3;
}

.sidebar {
  top: 0;
  left: 0;
  position: fixed;
  border-right: 2px solid #e5e7e8;
  width: 350px;
  height: 100vh;
  padding: 30px;
  background-color: #f8f8f8;
}

.nav-item {
  padding: 10px;
  padding-left: 30px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.gray {
  color: #6a6a6a;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #1389ff !important;
}

main {
  margin-left: 350px;
  width: calc(100vw - 350px) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.visualizer {
  width: 100% !important;
  background-color: white;
  height: 700px;
  margin-top: 50px;
  border: 2px solid #e5e7e8;
  border-radius: 5px;
}

.white-box {
  background-color: white;
  margin: 50px;
  border: 2px solid #e5e7e8;
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.selector {
  -webkit-font-smoothing: antialiased;
  color: #46535e;
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 2px;
  height: 30px;
  text-decoration: none;
  background: -webkit-linear-gradient(top, #fff, #f4f4f4);
  cursor: pointer;
  min-width: 80px;
}

.input-box {
  -webkit-font-smoothing: antialiased;
  color: #333;
  border-radius: 3px;
  border: 1px solid rgba(156, 163, 168, 0.6);
  font-size: 14px;
  box-shadow: none;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 7px 8px;
  width: 60%;
  padding-left: 5px;
}

.animation-zone {
  position: relative;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 50px;
}

.animation-zone-parent {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

section.animation-zone div.array-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: absolute;
}

section.animation-zone div.array-container div.array-element {
  height: 40px;
  width: 40px;
  margin: 0 1px 0 1px;
  background: #ffffff;
  border: 3px solid #949494;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: #181818;
  transition: all 0.1s;
}

section.animation-zone div.array-container div.array-element p {
  font-size: 14px;
  line-height: 14px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
}
.array-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  transition: all 0.1s; /* Add transition for smooth color change */
}

.array-element.yellow {
  background: yellow !important; /* Highlight color for elements being swapped */
}

.array-element.green {
  background: green !important; /* Highlight color for the pivot element */
}

.step-display {
  max-height: 500px;
  overflow-y: auto;
}
#graph {
}

.node {
  fill: rgb(39, 107, 255);
  stroke: rgb(50, 50, 50);
}

.link {
  stroke: rgb(50, 50, 50);
  stroke-width: 1px;
}

.grid-line {
  stroke: lightgrey;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

.grid-line {
  stroke: lightgrey;
  stroke-width: 0;
  shape-rendering: crispEdges;
}

.array-element2 {
  background: #ffffff;
  border: 3px solid #949494;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: #181818;
  transition: all 0.1s;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
